<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zombie_gampeplay_work.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zombie_gampeplay_work.Properties.Settings>
            <setting name="Customization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Customization2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Customization3" serializeAs="String">
                <value>True</value>
            </setting>
        </Zombie_gampeplay_work.Properties.Settings>
    </userSettings>
</configuration>